schema/body.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="./pagelisting.xsd" />
  <xs:include schemaLocation="./contact.xsd" />
  <xs:element name="body_title" type="xs:string" />
  <xs:element name="subtitle" type="xs:string" />
  <xs:element name="body">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="body_title" minOccurs="0"/>
        <xs:element ref="subtitle" minOccurs="0"/>
        <xs:element ref="text" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="text">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="pagelisting" />
        <xs:element ref="contact" />
        <xs:sequence>
          <xs:element ref="para" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="image" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="image" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="para" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="para" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="para" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="para">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="footnote" maxOccurs="unbounded" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="image">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="url" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="footnote">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="id" />
          <xs:attribute name="description" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
