schema/contact.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="contact">
    <xs:complexType>
      <xs:all>
        <xs:element ref="name"/>
        <xs:element ref="email"/>
        <xs:element ref="pgp"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="name" type="xs:string" />
  <xs:element name="email" type="xs:string" />
  <xs:element name="pgp" type="xs:string" />
</xs:schema>
