schema/page.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="./include.xsd" />
  <xs:include schemaLocation="./menu.xsd" />
  <xs:include schemaLocation="./body.xsd" />
  <xs:element name="content">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="menu"/>
        <xs:element ref="body"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="page">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="includes"/>
        <xs:element ref="content"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="title"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
